* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: rgb(255, 255, 255);
}

.body {
    display: flex;
    align-content: center;
    justify-content: space-around;
    color: rgb(255, 255, 255);
}

.cuadro {
    background: #303030;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 80vw;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.5rem;
    text-align: center;
    padding: 2rem;
    line-height: 2.5rem;
    padding: 10 10px 10 10px;
    border-radius: 25px;
}

#batalla {
    width: 1750px;
}

#playerLeftTitle {
    font-size: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#playerRightTitle {
    font-size: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#batalla {
    width: 350px;
}

#encuentro {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#rounds {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    padding: 5px;
    background-color: burlywood;
    /*     width: 500px;
    height: 1200px; */
}

#finalBaner {
    font-size: 3rem;
    padding: 1rem;
    color: black;
    opacity: 100%;
}

#final {
    position: absolute;
    display: block;
    width: 50%;
    background-color: cornflowerblue;
}

#vs {
    display: flex;
    width: 50px;
}

#jugadorUno {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20rem;
    height: 30rem;
    background: linear-gradient(135deg, #43629f 0%, #2d9ec2 100%);
    padding: 1rem;
    border-radius: 15px;
}

#jugadorDos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20rem;
    height: 30rem;
    background: linear-gradient(135deg, #43629f 0%, #2d9ec2 100%);
    padding: 1rem;
    border-radius: 15px;
}

#jugadorDos.img {
    height: 1px;
}

#avatarJugadorUno {
    display: flex;
    overflow: auto;
    justify-content: center;
    border-radius: 15px;
    border: 5px #000 solid;
    box-shadow: 3px 3px 5px #303030;
}

#avatarJugadorDos {
    display: flex;
    overflow: auto;
    justify-content: center;
    border-radius: 15px;
    border: 5px #000 solid;
    box-shadow: 3px 3px 5px #303030;
}

.ataques {
    margin: 0.2rem 0 0 0;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    border: 5px #000 solid;
}