* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;

}

@font-face {
    font-family:"evilEmpire";
    src: url("../css/fonts/EvilEmpire-4BBVK.ttf") format("truetype");
  }

  .body {
    display: flex;
    align-content: center;
    justify-content: space-around;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
}

#bienvenida{
    position: absolute;
    z-index: 1;
    background-color: #303030;
    height: 850px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;    
}

h1{
    align-self: center;
    font-size: 10rem;
    letter-spacing: 0.5rem;
font-family: evilEmpire;

}

.boton{
    align-self: center;
    color: #303030;
    height: 3rem;
    background-color: #fff;
    width: 15rem;
    text-align: center;
}


.boton:hover{
    background-color: red;
    color: #303030;
}
.boton:active{
    background-color: #303030;
    color: #fff;
}

.carousel{
    display: flex;
    
}

#seleccion{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}


#game{
    display: none;
}
.battleGround {
    display: grid;
    height: 850px;
    grid-template-columns: 0.3fr 0.9fr 1fr 0.3fr 0.5fr 0.5fr 0.5fr .3fr 1fr 1fr .3fr;
    grid-template-rows: .1fr 0.1fr 1fr 0.5fr 0.5fr .5fr 1fr 0.1fr .1fr;
    grid-auto-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . . . . . . . . . ."
      ". . . . . . . . . . ."
      ". . . . . . . . playerTwo playerTwo ."
      ". . . . vs vs vs . playerTwo playerTwo ."
      ". playerOne playerOne . vs vs vs . playerTwo playerTwo ."
      ". playerOne playerOne . vs vs vs . . . ."
      ". playerOne playerOne . combatText combatText combatText combatText combatText combatText ."
      ". . . . . . . . . . ."
      ". . . . . . . . . . .";
  }
  
  .vs { grid-area: vs;}

  .vs img{
    height: 200px;
  }

  .playerTwo { grid-area: playerTwo;  justify-self: center;}
  
  .playerOne { grid-area: playerOne;  justify-self: center;}
  
  .combatText { 
    grid-area: combatText;
    background: deepskyblue;
    max-height: 200px;
    width: 500px;
    overflow: auto; 
}
  


.cuadro {
    background: #303030;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.5rem;
    text-align: center;
    line-height: 2.5rem;
}


#playerLeftTitle {
    font-size: 1.7rem;
    font-family: evilEmpire;
    text-align: end;
    letter-spacing: .3rem;
}

#playerRightTitle {
    font-size: 1.5rem;
    font-family: evilEmpire;
}



#rounds {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    padding: 5px;
}

#finalBaner {
    font-size: 3rem;
    padding: 1rem;
    color: black;
    opacity: 100%;
}

#final {
    position: absolute;
    display: block;
    width: 50%;
    background-color: cornflowerblue;
}

#jugadorUno {
    justify-content: space-between;
    width: 20rem;
    height: 30rem;
    background: linear-gradient(135deg, #43629f 0%, #2d9ec2 100%);
    padding: 1rem;
    border-radius: 15px;
}

#jugadorDos {
    width: 20rem;
    height: 30rem;
    background: linear-gradient(135deg, #43629f 0%, #2d9ec2 100%);
    padding: 1rem;
    border-radius: 15px;
}

#lifeBar {
    height: 0.5rem;
    width: 15rem;
    background: linear-gradient(135deg, #000000 0%, #b30117 100%);
}

#avatarJugadorUno {
    background-color: lightgray;
    border-radius: 15px;
    box-shadow: 3px 3px 5px #303030;
        
        height: 200px;
        overflow: hidden;
        margin: 10px;
        position: relative;
   
}

#avatarJugadorDos {
    background-color: lightgray;
    border-radius: 15px;
    box-shadow: 3px 3px 5px #303030; 
    height: 200px;
    overflow: hidden;
    margin: 10px;
    position: relative;
}

#crop {
    position:absolute;
    width: 60%;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
    margin: auto;
    min-height: 100%;
    min-width: 100%;
}

.ataques {
    margin: 0.2rem 0 0 0;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    border: 5px #000 solid;
}

.heroCard {
   
    display: grid; 
    grid-template-columns: 0.8fr 0.8fr; 
    grid-template-rows: 0.7fr 0.3fr 4.5fr 1fr 1fr; 
    gap: 5px 0px; 
    grid-template-areas: 
      "Name Name"
      "lifeBar lifeBar"
      "avatar avatar"
      "atq spd"
      "def int"; 
  }
  .avatar { grid-area: avatar; }
  .lifeBar { grid-area: lifeBar; }
  .Name { grid-area: Name; 
    font-size: 1.7rem;
    font-family: evilEmpire;
    text-align: end;
    letter-spacing: .3rem;}
  .atq { grid-area: atq; margin: auto;}
  .spd { grid-area: spd; margin: auto;}
  .def { grid-area: def; margin: auto;}
  .int { grid-area: int; margin: auto;}
